.login{
	display: flex;
	height: 90vh;
	flex-direction: row;
	justify-content: space-between;
	align-content: flex-start;
	align-items: center;
}

.login__left{
	display: flex;
    padding: 2rem;
    margin-left: 1rem;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}

.login__left h2{
	margin-bottom: 1rem;
}

.login__left p{
	margin-bottom: 1.5rem;
	color: gray;
}

.login__left button{
	background: #485eda;
	color: #fff;
	width: 80%;
}

.login__left button:hover{
	background: #485edaaa;
	color: #252525;
}



.login__right img{
	height: 480px;
	width: auto;
	margin-right: 1rem;
}

@media screen and (max-width:500px){

	.login{
		display: flex;
		height: 90vh;
		flex-direction: column;
		justify-content:center;
		align-content: center;
		align-items: center;
	}

	.login__left{
		display: flex;		
		align-content: center;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		margin-top: 1.5rem;
		padding: .75rem;
	}

	.login__right{
		margin-top: 1rem;
	}

	.login__right img{
		height: 350px;
		width: auto;
	}

}


